body{
    background-color: cyan;
}

#head{
    border: 5px solid black;
    width: 300px;
    height: 300px;
    border-radius: 500px;
    position: absolute;
    top: 180px;
    left: 400px;
}

#body{
    border: 3px solid black;
    height: 300px;
    width: 0px;
    top: 490px;
    left: 550px;
    position: absolute;
}

#leftArm{
    border: 3px solid black;
    width: 150px;
    top: 600px;
    left: 394px;
    position: absolute;
}

#rightArm{
    border: 3px solid black;
    width: 150px;
    top: 600px;
    left: 556px;
    position: absolute;
}

#leftLeg{
    transform: rotate(315deg);
    border: 3px solid black;
    width: 200px;
    top: 860px;
    left: 378px;
    position: absolute;
}

#rightLeg{
    transform: rotate(45deg);
    border: 3px solid black;
    width: 200px;
    top: 860px;
    left: 523px;
    position: absolute;
}

#hangMan{
    border: 3px solid black;
    border-radius: 20px;
    width: 900px;
    height: 1000px;
    background-color: white;
    float: left;
}

#hang1{
    border: 3px solid black;
    width: 750px;
    top: 978px;
    left: 75px;
    position: absolute;
}

#hang2{
    border: 3px solid black;
    height: 840px;
    top: 132px;
    left: 169px;
    position: absolute;
}

#hang3{
    border: 3px solid black;
    width: 382px;
    top: 132px;
    left: 169px;
    position: absolute;
}

#hang4{
    border: 3px solid black;
    height: 37px;
    top: 137px;
    left: 551px;
    position: absolute;
}

.gone{
    visibility: hidden;
}

#userInput{
    /* border: 3px solid black; */
    height: 40px;
    width: 330px;
    padding-top: 42px;
    margin: auto;
}

#dashList{
    font-size: 6em;
    border: 3px solid black;
    border-radius: 20px;
    height: 113px;
    width: 900px;
    float: left;
    text-align: center;
    background-color: white;
    margin-top: 10px;
}

.dash{
    /* border: 3px solid black; */
    width: 10px;
    height: 1px;
    display: inline;
    padding: 10px;
    margin: auto;
}

#incorrect{
    float: right;
    border: 3px solid black;
    height: 1129px;
    width: 330px;
    background-color: white;
    font-size: 4em;
    border-radius: 20px;
    text-align: center;
}

#scanner{
    border: 3px solid black;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    font-size: 25px;
    text-align: center;
}

#btn{
    border: 3px solid black;
    height: 30px;
    width: 100px;
    padding-bottom: 28px;
    font-size: 25px;
    border-radius: 5px;
}

#box{
    /* border: 3px dashed black; */
    height: 1000px;
    width: 1250px;
}